<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Counting repetiton</h1>
    <form action="{% url 'text_count'%}" >
      <textarea name="fulltext" rows="5" cols="40"></textarea>
      <br>
      <input type="submit" name="" value="Count">
    </form>

    <p> There are so many things to do in the world except for cribbing about
      few things which do not have an impact on your life</p>
      {{city}}
  </body>
</html>
